.promo-footer {
	display: flex;
	align-items: center;
	justify-content: center;
	background: #fefdfd url("../img/promo_3.png") no-repeat;
	background-position: 0 350px;
	background-size: cover;
	overflow: hidden;

	& h2 {
		position: relative;
		font-weight: 700;
		& span {
			position: absolute;
			top: -100px;
		}
	}

	& .projects {
		& .project {
			& article {
				position: relative;
				overflow: hidden;
				& .project-img {
					background: $text-dark;
					& img {
						filter: brightness(40%);
						&:hover {
							filter: brightness(70%);
						}
					}
				}

				@media (max-width: 576px) {
					height: 300px;
				}
				@media (min-width: 576px) {
					height: 300px;
				}
				@media (min-width: 768px) {
					height: 350px;
				}
				@media (min-width: 1200px) {
					height: 400px;
				}
				@media (min-width: 1400px) {
					height: 450px;
				}

				& .project-text {
					position: absolute;
					z-index: 10;
					color: $text-light;
					bottom: 0;
					width: 100%;
					& h3 {
						font-size: 32px;
						font-weight: 600;
						@media (max-width: 576px) {
							font-size: 18px;
						}
						@media (min-width: 576px) {
							font-size: 22px;
						}
						@media (min-width: 768px) {
							font-size: 26px;
						}
					}
					& p {
						font-size: 14px;
						font-weight: 400;
						@media (max-width: 576px) {
							font-size: 14px;
						}
						@media (min-width: 576px) {
							font-size: 14px;
						}
					}
					& .btn {
						width: 100%;
					}
				}
			}
		}
	}

	& .footer-form {
		& .promo-form {
			background: $text-light;
			& h2 {
				font-size: 20px;
				font-weight: 700;
				@media (max-width: 576px) {
					font-size: 18px;
				}
				@media (min-width: 576px) {
					font-size: 18px;
				}
				@media (min-width: 768px) {
					font-size: 20px;
				}
				@media (min-width: 992px) {
					font-size: 16px;
				}
			}
			& form {
				& .form-block {
					position: relative;
					& .form-label {
						font-size: 14px;
						font-weight: 600;
					}
					& .form-control {
						&::placeholder {
							font-size: 14px;
							opacity: 0.5;
						}
					}
					& i {
						position: absolute;
						right: 5%;
						top: 60%;
						opacity: 0.5;
					}
				}
				& .form-check-label {
					font-size: 12px;
					margin-top: 2px;
				}
				& .btn {
					width: 100%;
				}
			}
		}
	}
}
